#!/bin/bash -x

# Send output to log file and serial console
mkdir -p  /var/log/cloud /config/cloud /var/lib/cloud/icontrollx_installs /var/config/rest/downloads
LOG_FILE=/var/log/cloud/startup-script.log
[[ ! -f $LOG_FILE ]] && touch $LOG_FILE || { echo "Run Only Once. Exiting"; exit; }
npipe=/tmp/$$.tmp
trap "rm -f $npipe" EXIT
mknod $npipe p
tee <$npipe -a $LOG_FILE /dev/ttyS0 &
exec 1>&-
exec 1>$npipe
exec 2>&1

# Download or Render BIG-IP Runtime Init Config 
cat << 'EOF' > /config/cloud/runtime-init.conf
${RI_CONFIG}
EOF

### runcmd:
# Download RUNTIME_INIT Package
PACKAGE_URL='${RI_URL}'
for i in {1..30}; do
    curl -fv --retry 1 --connect-timeout 5 -L "$${PACKAGE_URL}" -o "/var/config/rest/downloads/$${PACKAGE_URL##*/}" && break || sleep 10
done
# Install
bash /var/config/rest/downloads/$${PACKAGE_URL##*/} -- '--cloud aws'
# Run
f5-bigip-runtime-init --config-file /config/cloud/runtime-init.conf
